.plain-list {
    &__item {
        margin-bottom: .5rem;
        min-height: 17vh;
        align-items: flex-end;
        background: $color-100-blue;

        h2 {
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}

.image-list {
    &__item {
        margin-bottom: .5rem;
        min-height: 17vh;
        align-items: flex-end;

        h2, p {
            color: white;
        }

        h2 {
            font-size: 2rem;
            font-weight: 600;
            text-transform: capitalize;

            span {
                color: $color-100-gray;
                font-size: 1.2rem;
                padding-left: .5rem;
                text-transform: uppercase;
            }
        }

        .list-icon {
            color: white;
            font-size: 4rem;
            position: absolute;
            right: 1rem;
            top: 3.5rem;
        }

        &--top {
            align-items: flex-start;
            min-height: auto;

            .label {
                margin: 2rem 0;
                white-space: inherit;
            }

            h2 {
                border-bottom: 2px solid $color-400-gray;
                color: $color-100-gray;
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: 0.2rem;
                margin-bottom: 2rem;
                padding-bottom: .5rem;
                text-transform: uppercase;
            }

            h3 {
                color: white;
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
}
