$color-100-purple: #EFEFF4;
$color-200-purple: #e1e1ea;
$color-300-purple: #d1d1e0;
$color-400-purple: #c2c2d6;
$color-500-purple: #b3b3cb;
$color-600-purple: #a4a4c1;
$color-700-purple: #9595b7;
$color-800-purple: #8686ac;
$color-900-purple: #5d5d89;

$color-100-blue: #e9fafc;
$color-200-blue: #d3f6f8;
$color-300-blue: #bcf0f6;
$color-400-blue: #a7ecf1;
$color-500-blue: #91e8ee;
$color-600-blue: #7be3ea;
$color-700-blue: #65dee7;
$color-800-blue: #4fdae3;
$color-900-blue: #21C8D5;
$color-dark-blue: #18929a;

$color-100-gray: #f2f2f2;
$color-200-gray: #d9d9d9;
$color-300-gray: #bfbfbf;
$color-400-gray: #a6a6a6;
$color-500-gray: #8c8c8c;
$color-600-gray: #737373;
$color-700-gray: #595959;
$color-800-gray: #404040;
$color-900-gray: #262626;

$color-primary: map-get($colors, primary);
$color-brown: #291C1C;
$color-text-gray: #444444;
